<%= render 'partials/sheader' %>

					<div class="post">

						<div class="post_title"><h2><a href="#">Template Information</a></h2></div>
						<div class="post_date">Posted on May 19th at 18:28 by <a href="#">Viktor Persson</a></div>
						
						<div class="post_body">
						
							<p>This is a free website template by <a href="http://arcsin.se/">Arcsin</a>, built using tableless XHTML and CSS.</p>
							
							<p>This template is distributed under a <a href="http://templates.arcsin.se/license/">Creative Commons Attribution 2.5 License</a>, which allows you to use and modify it for any purpose (personal and commercial), under the condition that you keep the provided credit links in the footer.</p>

							<p>The latest template version and CMS conversions for platforms such as WordPress and Blogger can be found at the official <a href="http://templates.arcsin.se/natural-gloom-website-template/">Natural Gloom website template</a> page.</p>

							<p>For more templates, questions and comments please visit <a href="http://templates.arcsin.se/">Arcsin Web Templates</a>.</p>

							<p>Have fun!</p>

						</div>
						
						<div class="post_meta">
							<a href="#">5 comments</a> | Tagged: <a href="#">Sapien</a>, <a href="#">Sollicitudin</a>, <a href="#">Ligula</a>
						</div>

					</div>

					<div class="post">

						<div class="post_title"><h2><a href="#">Porttitor posuere</a></h2></div>
						<div class="post_date">Posted on Dec 11th at 16:12 by <a href="#">Aliquet Quis</a></div>
						
						<div class="post_body">
						
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc sagittis. Proin ac felis. Consectetuer adipiscing elit. Pellentesque enim dui, rhoncus ut, pharetra</p>
							
							<ul>
								<li>List item 1</li>
								<li>List item 2</li>				
								<li>List item 3</li>
							</ul>	
							
							<p>Luctus vitae, dolor. Nunc mauris eros, vehicula id, fermentum non, semper ac, nisl. Cras sed purus non justo lobortis rhoncus. Morbi consectetuer augue.</p>

							<p>Donec ligula lorem, varius eget, semper eget, aliquet quis, lectus. Vestibulum ipsum nunc, aliquet quis, blandit ac, varius a, est. Praesent dictum. Sed feugiat magna sed lorem. Nulla tempus sodales ipsum. In vitae purus eget quam.</p>

							<blockquote><p>Luctus vitae, dolor. Nunc mauris eros, vehicula id, fermentum non, semper ac, nisl. Cras sed purus non justo lobortis rhoncus. Morbi consectetuer augue</p></blockquote>

							<p>Luctus vitae, dolor. Nunc mauris eros, vehicula id, fermentum non, semper ac, nisl. Cras sed purus non justo lobortis rhoncus. Morbi consectetuer augue.</p>


						</div>
						
						<div class="post_meta">
							<a href="#">11 comments</a> | Tagged: <a href="#">Purus</a>, <a href="#">Semper</a>, <a href="#">Vestibulum</a>
						</div>

					</div>	

				</div>
			</div>

<h1>Listing announcements</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Image1</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @announcements.each do |announcement| %>
  <tr>
    <td><%= announcement.title %></td>
    <td><%= announcement.content %></td>
    <td><%= announcement.image1 %></td>
    <td><%= link_to 'Show', announcement %></td>
    <td><%= link_to 'Edit', edit_announcement_path(announcement) %></td>
    <td><%= link_to 'Destroy', announcement, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Announcement', new_announcement_path %>

<%= render 'partials/scolumn2' %>
<%= render 'partials/sfooter' %>
