<%= render 'partials/sheader' %>
<% @announcements.each do |announcement| %>
  <div class="post">
    <div class="post_title"><h2><a href="#"><%= announcement.title %></a></h2></div>
    <div class="post_date"><%=h announcement.created_at.strftime("%B %d, %Y") %></div>
    <div class="post_body"><%= announcement.content %></div>
    <div><%= announcement.image1 %></div>
	<div class="post_meta">
		<%= link_to 'Show', announcement %>, <%= link_to 'Edit', edit_announcement_path(announcement) %>,<%= link_to 'Destroy', announcement, :confirm => 'Are you sure?', :method => :delete %>		
	</div>    
  </div>
<% end %>
</div>
<%= link_to 'New Announcement', new_announcement_path %>
</div>

<%= render 'partials/scolumn2' %>
<%= render 'partials/sfooter' %>
