<h1>Listing prayers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @prayers.each do |prayer| %>
  <tr>
    <td><%= prayer.name %></td>
    <td><%= prayer.title %></td>
    <td><%= prayer.content %></td>
    <td><%= link_to 'Show', prayer %></td>
    <td><%= link_to 'Edit', edit_prayer_path(prayer) %></td>
    <td><%= link_to 'Destroy', prayer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Prayer', new_prayer_path %>
